<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Emails</title>
  </head>
  <body>
        <div class="container mt-3">
            <form action="{% url 'SendEmail' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <section class="border">
                <h2 class="text-center p-2 text-uppercase  text-white" style="background-color:#4E88D3">Email Service</h2>
                <div class="form-group p-1 mb-1">
                    <h6>To <sup class="text-danger">*</sup></h6>
                    <input type="text" class="form-control form-control-sm" placeholder="Enter To Address Here" name="toAddress" id="toAddress" required>
                </div>
                <div class="form-group p-2 mb-1">
                    <h6>Subject <sup class="text-danger">*</sup></h6>
                    <input type="text" class="form-control form-control-sm" placeholder="Enter Your Subject Here" name="emailSubject" id="emailSubject" required>
                </div>
                <div class="form-group p-1 mb-1">
                    <h6>Message <sup class="text-danger">*</sup></h6>
                    <textarea rows=10 cols=10 class="form-control form-control-sm" name="message" id="message" required></textarea>
                </div>
                <div class="form-group p-1 mb-1">
                    <h6>Attach File <sup class="text-danger">*</sup></h6>
                    <input type="file" class="form-control form-control-sm" name="attachedFiles" id="attachedFiles" >
                </div>
                <div class="form-group row p-1 mb-1">
                    <div class="col-md col-sm-12">
                        <h6>Every <sup class="text-danger">*</sup></h6>
                        <select class="form-control form-control-sm" name="scheduledDays" id="scheduledDays" required>
                            <option value="">Choose</option>
                            {% comment %} <option value="15">15 Days</option>
                            <option value="30">30 Days</option>
                            <option value="45">45 Days</option> {% endcomment %}
                            <option value="sunday">Sunday</option>
                            <option value="monday">Monday</option>
                            <option value="tuesday">Tuesday</option>
                            <option value="wednesday">Wednesday</option>
                            <option value="thursday">Thursday</option>
                            <option value="friday">Friday</option>
                            <option value="saturday">Saturday</option>
                        </select>
                    </div>
                    <div class="col-md col-sm-12">
                        <h6>Schedule Time  <sup class="text-danger">*</sup></h6>
                        <input type="time" class="form-control form-control-sm" name="scheduledTime" id="scheduledTime" required>
                    </div>
                </div>
                
                <div class="mt-2 text-center mb-2">
                    <button type="submit" class="btn btm-sm btn-info" name="saveEmail" id="saveEmail">Save Email</button>
                </div>
            </section>
        </div>

    <script>
        
       
        
        {% if messages %}
            {% for message in messages %}
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })
                
                Toast.fire({
                    icon: 'success',
                    title: `{{message}}`
                })
            {% endfor %}
        {% endif %}
    </script>
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>